#header {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}


.header h3 {
    font-size: 2.55rem;
    line-height: 1.75;
    color: var(--color-white);
    padding-bottom: 2rem;
    position: relative;

}

.header h3 span {
    display: block;
}


h3 span:nth-child(1) {
    font-weight: 500;
}


h3 span:nth-child(2) {
    font-weight: lighter;
    font-size: 2rem;
    color: rgb(192, 192, 192);
    text-align: justify;
    line-height: 18px;
    font-variant: small-caps;
}

.header h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    background: var(--color-white);
    height: 1px;
}

.header-right, .header-left {
    width: 50%;
}

.header-right p {
    font-size: 1.4rem;
    line-height: 1.2;
    margin: 3rem 0;
    color: rgba(192, 192, 192, .6);
    width: 70%;
}

#k {
    display: inline;
    color: orangered;
}

.header-left img {
    width: 95%;
}



.floating-icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: var(--light-blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 0;
}

.floating-icon a {
    margin: 0;
}

.mouse {
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    animation: bounce .8s ease infinite alternate;
    -webkit-animation: bounce .8s ease infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(-25%);
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
}
    100% {
        transform: translateY(25%);
        -webkit-transform: translateY(25%);
        -moz-transform: translateY(25%);
        -ms-transform: translateY(25%);
        -o-transform: translateY(25%);
}
}

@media screen and (max-width: 850px) {
    h3 span:nth-child(1) {
        font-size: 2.2rem;
    }
    h3 span:nth-child(2) {
        font-size: 1.65rem;
    }
}

@media screen and (max-width: 675px) {
    h3 span:nth-child(1) {
        font-size: 1.9rem;
    }
    h3 span:nth-child(2) {
        font-size: 1.45rem;
    }
    .header-right {
        width: 45%;
    }
    
    .header-left {
        width: 55%;
    }
    .header-right p {
        font-size: 1.2rem;
    }
    .header-btn a{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    h3 span:nth-child(1) {
        font-size: 1.55rem;
    }
    h3 span:nth-child(2) {
        font-size: 1.05rem;
    }
    .header-right p {
        font-size: 1rem;
        width: 85%;
        margin: 2rem 0 2.7rem 0;
    }
    .header-btn a{
        font-size: 9px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
    .header-right, .header-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h3 span:nth-child(1) {
        font-size: 1.75rem;
    }
    h3 span:nth-child(2) {
        font-size: 1.45rem;
    }
    .header-right p {
        font-size: 1.1rem;
        margin: 3rem 0;
    }
    .header-btn a{
        font-size: 12px;
    }
    .header-right {
        margin-bottom: 4rem;
        width: 75%;
    }
    section {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 375px) {
    h3 span:nth-child(1) {
        font-size: 1.2rem;
    }
    h3 span:nth-child(2) {
        font-size: 1rem;
    }
    .header-right p {
        font-size: 9px;
        margin: 3rem 0;
    }
    .header-btn a{
        font-size: 9px;
    }
}

